@import url('https://fonts.googleapis.com/css?family=Philosopher');

.masthead {
    background: #e74c3c;
  	box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

.main-menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    font-family: 'Philosopher', cursive;
}
  
   .main-menu a {
    color: #0B0B3B;
    text-decoration:none;
    font-size: 2rem;
    padding: 0 1%;
         }

   .main-menu a:hover {
     text-decoration:underline;
     }
     

.site-title {
	color: white;
	font-family: 'Philosopher', cursive;
	margin: 0 0 1em;
    padding: 1em 0;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
}

body {
  max-width:1200px;
  margin: auto;
  padding: 0;
  font-family: 'Philosopher', sans-serif;
}

.text-js{
  opacity: 0;
}
.cursor{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}
@keyframes flash{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.card a {
	color: black;
	text-decoration: none;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card-content {
	padding: 1.4em;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: normal;
	color: #e74c3c;
}

.card-content h3 {
	font-weight: inherit;
	color: #e74c3c;
	}

.card-content p {
	font-size: 95%;
}

.card img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 40em) {  
  .cards {
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    margin-bottom: 1em;
    display: flex;
    flex: 0 1 calc(50% - 0.5em);
    }
} 

@media screen and (min-width: 60em) {
  .cards {
    margin-top: inherit;
  }
  
  .card {
    margin-bottom: 2em;
    display: flex;
    flex: 0 1 calc(33% - 0.5em);
    }
} 


footer {
    background: #e74c3c;
  	box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
  	min-height: 50px;
    text-align: center;
    margin-top: 30px;
  	}
 
.h4 {
    border-top-width: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    }

.news {
  padding-bottom: 10px;
}

.news h1 {
  text-align: center;
  color: #e74c3c;
}

.news img {
  max-height: 250px;
  max-width: 100px;
  float: left;
  margin-right: 15px; 
   }
   
.news ul {
    display: block;
    list-style-type: circle;
    }
   
.contact h1 {
  font-size:50px;
  color: #e74c3c;
  padding-top:10px;
  text-align: center;
  }

.contact { color:white }

.contact form {
  max-width:450px; 
  margin:50px auto;
}

.button {
  max-width:450px;
  font-family: 'Philosopher', sans-serif;
  width: 100%;
  background:#e74c3c;
  border-radius:10px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
  transition: all 0.3s;
  font-weight:600; 
}
.button:hover {
  background:#0B0B3B; 
}

.f-input::placeholder {
  color:#0B0B3B;
  opacity:0.9;
}

.f-input {
  background-color: transparent;
  border:2px solid #e74c3c;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  font-family: 'Philosopher', cursive;
  color:#0B0B3B;
  font-weight:500;
  font-size: 18px;
  border-radius: 4px;
  line-height: 22px;
  text-align:left;
}

.f-input:focus { 
  border:2px solid #3a3939; }

textarea {
  height: 250px;
  line-height: 150%;
  resize:vertical;
}

